.App {
  text-align: center;
}


.App-header {
  background-color: #8bb1e9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(65, 48, 48);
}

.App-link {
  color: #61dafb;
}

.submit-form {
  display: flex;

}

.input-field {
  align-items: center;
}